<nav class="navbar bg-primary navbar-light navbar-expand-md">
  <div class="container">
    <span class="navbar-brand">
      <a class="pr-1" href="{{ site.data.info.github}}"><img src="/assets/images/GitHub-Mark-32px.png" alt="github link" /></a>
      <a href="/">
        {{ site.data.info.name }}
      </a>
    </span>
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
      <li class="nav-item">
        <a class="nav-link 
            {% if page.url == item.link %}active{% endif %}
            {% if item.active == false %}disabled{% endif %}"
            href="{{ item.link }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div><!-- container -->
</nav>