---
layout: default
title: Blog
---
<h1>Blog Posts</h1>
{% for post in site.posts %}
    <div class="card mt-2">
        <div class="card-body">
            <div class="media">
                <img class="mr-3" src="
                    {% if post.title-image %}
                        {{ post.title-image }}
                    {% else %}
                        https://www.gravatar.com/avatar/{{ site.data.info.gravatarId }}?s=50
                    {% endif %}
                " alt="{{ post.title-image-alt }}" height="50px" width="50px" >
                <div class="media-body">
                    <span class="font-italic">{{ post.date | date_to_long_string }}</span>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <span class="card-text text-muted">{{ post.excerpt }}</span>
                </div>
            </div><!-- media -->
        </div><!-- card-body -->
    </div><!-- card -->
{% endfor %}